{% extends 'base.html' %}
{% load static %}
{% block 'content' %}



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>LifeLines</span></h2>
          <p>This is a Blog and Portfolio page .Step into my world at LifeLines, where my passion for storytelling and creativity converge, giving life to the moments that matter most.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{%  static 'assets/img/hero-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Discover the Vision Behind LifeLines</h3>
            <img src="{%  static 'assets/img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
            <p>Our mission at LifeLines is simple: to inspire, inform, and ignite imaginations. Here, we delve into the art of storytelling, exploring the myriad ways in which narratives can paint vivid pictures in the reader's mind.</p>
            <p>From travel adventures that transport you to distant lands, to heartfelt reflections on life's profound moments, LifeLines is a tapestry of experiences and emotions. We believe that every life has a unique story to tell, and we're here to celebrate those stories.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Our team of writers and photographers are dedicated to capturing the essence of life's beauty, whether through the lens of a camera or the stroke of a pen. We invite you to journey with us as we navigate the intricate landscapes of human existence.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i>At LifeLines, we're dedicated to crafting engaging content that keeps you coming back for more.</li>
                <li><i class="bi bi-check-circle-fill"></i>Explore the fascinating world of storytelling through our unique perspective, where words and images unite.</li>
                <li><i class="bi bi-check-circle-fill"></i>oin us on a journey through LifeLines, where we strive to inspire and captivate your imagination with every post.</li>
              </ul>
              <p>
                We also value your voice and perspective. Feel free to engage with us through comments and sharing your own stories. Together, we can make this blog a vibrant community where ideas flow freely.
              </p>

              <div class="position-relative mt-4">
                <img src="{%  static 'assets/img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">


          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end={{sc}} data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Posts</strong> we are published</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end={{rc}} data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>PortFolios</strong>we are published</p>
            </div><!-- End Stats Item -->

            <!-- <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    
    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          {% for item in service %}
          <div class="col-lg-4 col-md-4">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>{{ item.title }}</h3>
              <p>{{ item.content|truncatewords:3 }}</p>
              
            </div>

          </div>
          
          {% if forloop.counter|divisibleby:3 %}
            </div><div class="row" >
            <p></p> 
            <br><br><br>

          {% endif %}
          
          {% if forloop.last %}
            </div> 
          {% endif %}
        {% endfor %}
      </div>
  

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Portfolio</h2>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              {% for ct in cat %}
              <li class="filter-active"><a href="{% url 'root:portfilter' category_id=ct.id %}">{{ ct.name }}</a></li>
              {% endfor %}
              <li><a href={% url 'root:home' %}>All</a></li>
            </ul><!-- End Portfolio Filters -->
          </div>
          
          <div class="row gy-4 portfolio-container">
            {% for item in porto %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div  class="portfolio-wrap">
                <a style="display: inline-block; max-width: 360px; max-height: 200px; overflow: hidden;" href="{{ item.image.url }}" data-gallery="portfolio-gallery-app" class="glightbox">
                  <img src="{{ item.image.url }}" class="img-fluid" alt="">
                </a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'root:portfolio' id=item.id  %}" title="More Details">{{ item.title }}</a></h4>
                  <p>{{ item.subject|truncatewords:3 }}</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
          </div>
          
          

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
        </div>

        <div class="row gy-4">
          {% for item in team %}
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src={{item.image.url}} class="img-fluid" alt="">
              <h4>{{item.firstname}}</h4>
              {% for cat in item.category.all %}
                  <span>{{cat.name}}</span>
              {% endfor %}
              <div class="social">
                <a href="{{item.twitter}}" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="{{item.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="{{item.instagram}}" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="{{item.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
            
            </div>
          </div><!-- End Team Member -->
          {% endfor %}
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Pricing</h2>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">
          {% for item in price %}
          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>{{item.title}}</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>$</sup>{{item.price}}<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i>{{item.properties}}</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->
            {% endfor %}
          
        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>last Blog Posts</h2>
        </div>

        <div class="row gy-4">
          {% for lp in three_post %}
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src={{lp.image.url}} alt="" class="img-fluid">
              </div>

              {% for ct in cat %}
              <li class="filter-active">{{ ct.name }}</li>
              {% endfor %}

              <h2 class="title">
                <a href="{% url 'blogs:blog_single' pid=lp.id %}">{{lp.title}}</a> 
              </h2>

              <div class="d-flex align-items-center">
                <img src={{lp.auther_img.url}} alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{lp.author}}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{lp.created_date}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}
        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->



  </main><!-- End #main -->
  {% endblock 'content' %}